{% include 'base.html' %}

<head>
    <!-- Setting General Css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chart_list_style.css' %}">
</head>

<body>
    <!-- Start Fe Here-->
    <div class="chart-list">
        <div class="header-list">
            <div class="title">
                <img class="icon-title" src="https://i.ibb.co/fNmQg20/Icon-Title.png" />
                <div class="text-wrapper">Chart List</div>
            </div>
        </div>
        <div class="isi-list">
            <p class="div">Berikut merupakan pilihan lagu dalam Chartlist Marmut</p>
            <table class="datatable">
                <thead>
                    <tr class="table-header">
                        <th class="header-cell">
                            <div class="text-wrapper-2">Tipe</div>
                        </th>
                        <th class="header-cell header-2">
                            <div class="text-wrapper-2">Actions</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row">
                        <td class="table-row-cell">
                            <div class="text-wrapper-3">Daily Top 20</div>
                        </td>
                        <td class="frame-wrapper">
                            <div class="frame">
                                <a href="{% url 'chart:chart_detail' %}" class="button-table">Lihat Daftar Lagu</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-row-cell">
                            <div class="text-wrapper-3">Weekly Top 20</div>
                        </td>
                        <td class="frame-wrapper">
                            <div class="frame">
                                <a href="{% url 'chart:chart_detail' %}" class="button-table">Lihat Daftar Lagu</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-row-cell">
                            <div class="text-wrapper-3">Monthly Top 20</div>
                        </td>
                        <td class="frame-wrapper">
                            <div class="frame">
                                <a href="{% url 'chart:chart_detail' %}" class="button-table">Lihat Daftar Lagu</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-row-cell">
                            <div class="text-wrapper-3">Yearly Top 20</div>
                        </td>
                        <td class="frame-wrapper">
                            <div class="frame">
                                <a href="{% url 'chart:chart_detail' %}" class="button-table">Lihat Daftar Lagu</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button-container">
            <a href="#" class="button">Kembali ke Home</a>
        </div>
    </div>
</body>