.dashboard-podcaster .text-wrapper-14 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--large-text-semi-bold-font-family);
    font-weight: var(--large-text-semi-bold-font-weight);
    color: var(--dark-grey);
    font-size: var(--large-text-semi-bold-font-size);
    letter-spacing: var(--large-text-semi-bold-letter-spacing);
    line-height: var(--large-text-semi-bold-line-height);
    white-space: nowrap;
    font-style: var(--large-text-semi-bold-font-style);
}

.dashboard-podcaster .text-wrapper-15 {
    position: relative;
    width: fit-content;
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    color: var(--black);
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    white-space: nowrap;
    font-style: var(--h4-font-style);
}

.dashboard-podcaster .frame-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.dashboard-podcaster .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    color: var(--black);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    white-space: nowrap;
    font-style: var(--h2-font-style);
}

.dashboard-podcaster .add-podcast {
    display: flex;
    width: 240px;
    height: 56px;
    align-items: center;
    justify-content: center;
    gap: var(--tokens-measurements-button-gap);
    padding: 0px 32px;
    position: relative;
    background-color: #ffa54b;
    border-radius: 16px;
    border: 2px solid;
    border-color: transparent;
}

.dashboard-podcaster .text-wrapper-17 {
    position: relative;
    width: fit-content;
    font-family: var(--large-text-semi-bold-font-family);
    font-weight: var(--large-text-semi-bold-font-weight);
    color: #ffffff;
    font-size: var(--large-text-semi-bold-font-size);
    text-align: center;
    letter-spacing: var(--large-text-semi-bold-letter-spacing);
    line-height: var(--large-text-semi-bold-line-height);
    white-space: nowrap;
    font-style: var(--large-text-semi-bold-font-style);
}

.dashboard-podcaster .datatable {
    display: flex;
    flex-direction: column;
    width: 1150px;
    align-items: flex-start;
    padding: 0px 2px 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid;
    border-color: #E2E8F0;
}

.dashboard-podcaster .table-header {
    padding: 8px 40px;
    background-color: #eef5fe;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 200%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #E2E8F0;
}

.dashboard-podcaster .header-2 {
    text-align: left; /* Mengatur teks ke kanan */
    padding-left: 27px;
}

.dashboard-podcaster .header-4 {
    text-align: left; /* Mengatur teks ke kanan */
    padding-left: 220px;
}

.dashboard-podcaster .header-cell {
    display: flex;
    width: 210px;
    height: 56px;
    align-items: center;
    padding: 0px 12px 0px 0px;
    position: relative;
}

.dashboard-podcaster .text-wrapper-18 {
    position: relative;
    width: fit-content;
    font-family: var(--large-text-semi-bold-font-family);
    font-weight: var(--large-text-semi-bold-font-weight);
    color: var(--black);
    font-size: var(--large-text-semi-bold-font-size);
    letter-spacing: var(--large-text-semi-bold-letter-spacing);
    line-height: var(--large-text-semi-bold-line-height);
    white-space: nowrap;
    font-style: var(--large-text-semi-bold-font-style);
}

.dashboard-podcaster .div-wrapper {
    width: 140px;
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dashboard-podcaster .header-cell-2 {
    flex: 1;
    flex-grow: 1;
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dashboard-podcaster .table-row {
    padding: 4px 40px;
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #E2E8F0;
}
.dashboard-podcaster tr:last-child td {
    border-bottom: none;
}

.dashboard-podcaster .table-row-cell {
    display: flex;
    width: 210px;
    align-items: center;
    gap: 10px;
    padding: var(--tailwind-primitives-padding-px-py-py-4) 12px var(--tailwind-primitives-padding-px-py-py-4) 0px;
    position: relative;
}

.dashboard-podcaster .text-wrapper-19 {
    position: relative;
    width: 240px;
    margin-top: -1px;
    margin-right: -42px;
    font-family: var(--p-medium-font-family);
    font-weight: var(--p-medium-font-weight);
    color: var(--shadcn-ui-foreground);
    font-size: var(--p-medium-font-size);
    letter-spacing: var(--p-medium-letter-spacing);
    line-height: var(--p-medium-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--p-medium-font-style);
}

.dashboard-podcaster .text-wrapper-20 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--p-medium-font-family);
    font-weight: var(--p-medium-font-weight);
    color: var(--shadcn-ui-foreground);
    font-size: var(--p-medium-font-size);
    text-align: center;
    letter-spacing: var(--p-medium-letter-spacing);
    line-height: var(--p-medium-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--p-medium-font-style);
}

.dashboard-podcaster .text-wrapper-21 {
    position: relative;
    width: fit-content;
    padding-left: 20px;
    margin-top: -1px;
    font-family: var(--p-medium-font-family);
    font-weight: var(--p-medium-font-weight);
    color: var(--shadcn-ui-foreground);
    font-size: var(--p-medium-font-size);
    text-align: right;
    letter-spacing: var(--p-medium-letter-spacing);
    line-height: var(--p-medium-line-height);
    white-space: nowrap;
    font-style: var(--p-medium-font-style);
}

.dashboard-podcaster .frame-2 {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.dashboard-podcaster .fill-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--red);
    border-radius: 10px;
    overflow: hidden;
}

.dashboard-podcaster .fill {
    position: relative;
    width: 28px;
    height: 28px;
}

.dashboard-podcaster .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--orange);
    border-radius: 10px;
    overflow: hidden;
}

.dashboard-podcaster .text-wrapper-22 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--p-semi-bold-font-family);
    font-weight: var(--p-semi-bold-font-weight);
    color: #ffffff;
    font-size: var(--p-semi-bold-font-size);
    text-align: center;
    letter-spacing: var(--p-semi-bold-letter-spacing);
    line-height: var(--p-semi-bold-line-height);
    white-space: nowrap;
    font-style: var(--p-semi-bold-font-style);
}

.dashboard-podcaster .frame-4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #60cad7;
    border-radius: 10px;
    overflow: hidden;
}