<div class="frame-list">
    <div class="div-4">
        <div class="frame-title">
            <div class="text-wrapper-16">List Lagu Songwriter</div>
        </div>
        <div class="div-4">
            <table class="datatable">
                <thead>
                    <tr class="table-header">
                        <th class="header-cell">
                            <div class="text-wrapper-18">Judul</div>
                        </th>
                        <th class="header-cell">
                            <div class="text-wrapper-18 header-2">Total Play</div>
                        </th>
                        <th class="header-cell">
                            <div class="text-wrapper-18 header-3">Total Download</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for lagu in list_lagu_songwriter %}
                    <tr class="table-row">
                        <td class="table-row-cell">
                            <div class="text-wrapper-19">{{lagu.0}}</div>
                        </td>
                        <td class="table-row-cell">
                            <div class="text-wrapper-20">{{lagu.1}}</div>
                        </td>
                        <td class="table-row-cell">
                            <div class="text-wrapper-21">{{lagu.2}}</div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    </div>
</div>