<nav class="navigation-bar navbar navbar-expand-lg">
    <a href="#" class="logo-navbar navbar-brand">
        <img class="marmut-image" src="https://i.ibb.co/X3rKb3B/Group-3304.png" alt="Marmut" />
        <div class="text-navbar">Marmut</div>
    </a>
    <div class="navbar-right-section">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedMarmut"
            aria-controls="navbarSupportedMarmut" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="btn btn-outline-success logout-button" href="{% url 'authentication:login' %}" role="button">Login</a>
        <a class="btn btn-outline-danger logout-button" href="{% url 'authentication:register' %}"
            role="button">Register</a>

        </form>
    </div>
    </div>
</nav>