{% include 'base.html' %}

<head>
    <!-- Setting Specific Css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_podcaster_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/general_dashboard_style.css' %}" />
</head>

<body>
    {% include "create-playlist.html" %} {% include "ubah-playlist.html" %}

    <!-- Start Fe Here-->
    <div class="dashboard-podcaster dashboard">
        <div class="frame-list">
            <div class="div-4">
                <div class="frame-title">
                    <div class="text-wrapper-16">Kelola Playlist</div>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#create-playlist">
                        <div class="add-podcast">
                            <div class="text-wrapper-17">Tambah Playlist</div>
                        </div>
                    </a>
                </div>
                <div class="div-4">

                    <table class="datatable">
                        <thead>
                            <tr class="table-header">
                                <th class="header-cell">
                                    <div class="text-wrapper-18">Judul</div>
                                </th>
                                <th class="header-cell">
                                    <div class="text-wrapper-18 header-2">Jumlah Lagu</div>
                                </th>
                                <th class="header-cell">
                                    <div class="text-wrapper-18 header-3">Total Durasi</div>
                                </th>
                                <th class="header-cell">
                                    <div class="text-wrapper-18 header-4">Action</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody style="width: calc(100%);">


                            {% for i in list_playlist %}
                            <tr class="table-row">
                                <td class="table-row-cell">
                                    <div class="text-wrapper-19">{{i.judul}}</div>
                                </td>
                                <td class="table-row-cell">
                                    <div class="text-wrapper-20">{{i.jumlah_lagu}}</div>
                                </td>
                                <td class="table-row-cell">
                                    <div class="text-wrapper-21">{{i.durasi}}</div>
                                </td>
                                <td>
                                    <div class="frame-2" style="justify-content: end; width: 400px;">
                                        <a href="{% url 'kelola_playlist:playlist_detail' i.id_playlist %}">
                                            <div class="frame-3" style="background-color: var(--red);">
                                                <div class="text-wrapper-22">Detail</div>
                                            </div>
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#ubah-playlist"
                                            onclick="ubah_playlist('{{i.judul}}', '{{i.deskripsi}}', '{{i.id_playlist}}')">
                                            <div class="frame-3">
                                                <div class="text-wrapper-22">Ubah</div>
                                            </div>
                                        </a>
                                        <a href="{% url 'kelola_playlist:hapus_playlist' i.id_playlist %}">
                                            <div class="frame-4">
                                                <div class="text-wrapper-22">Hapus</div>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    a {
        text-decoration: none;
    }
</style>