{% include "create-playlist.html" %}
{% include "ubah-playlist.html" %}

<div class="frame-list">
    <div class="div-4">
        <div class="frame-title">
            <div class="text-wrapper-16">User Playlist</div>
            <a href="#" data-bs-toggle="modal" data-bs-target="#create-playlist">
                <div class="add-podcast">
                    <div class="text-wrapper-17">Tambah Playlist</div>
                </div>
            </a>
        </div>
        <div class="div-4">

            <table class="datatable">
                <thead>
                    <tr class="table-header">
                        <th class="header-cell">
                            <div class="text-wrapper-18">Judul</div>
                        </th>
                        <th class="header-cell">
                            <div class="text-wrapper-18 header-2">Jumlah Lagu</div>
                        </th>
                        <th class="header-cell">
                            <div class="text-wrapper-18 header-3">Total Durasi</div>
                        </th>
                        <th class="header-cell">
                            <div class="text-wrapper-18 header-4">Action</div>
                        </th>
                    </tr>
                </thead>
                <tbody style="width: calc(100%);">
                    {% for playlist in list_playlist %}
                    <tr class="table-row">
                        <td class="table-row-cell">
                            <div class="text-wrapper-19">{{playlist.0}}</div>
                        </td>
                        <td class="table-row-cell">
                            <div class="text-wrapper-20">{{playlist.1}}</div>
                        </td>
                        <td class="table-row-cell">
                            <div class="text-wrapper-21">{{playlist.2}}</div>
                        </td>
                        <td>
                            <div class="frame-2" style="justify-content: end; width: 400px;">
                                <div class="frame-3" style="background-color: var(--red);">
                                    <a href="{% url 'kelola_playlist:playlist_detail' %}">
                                        <div class="text-wrapper-22">Detail</div>
                                    </a>
                                </div>
                                <div class="frame-3">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#ubah-playlist">
                                        <div class="text-wrapper-22">Ubah</div>
                                    </a>
                                </div>
                                <div class="frame-4">
                                    <div class="text-wrapper-22">Hapus</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    a {
        text-decoration: none;
    }
</style>