{% include 'base.html' %}

<head>
    <!-- Setting Specific Css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_podcaster_style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/general_dashboard_style.css' %}"> 
</head>

<body>
    {% include "create-episode.html" %}
    {% include "create-podcast.html" %}

    <!-- Start Fe Here-->
    <div class="dashboard-podcaster dashboard">
        {% include "detail-pengguna.html" %}

        {% if role == 'Podcaster' %}
            {% include "list-podcast.html" %}
        {% endif %}
    </div>
</body>