
{% include 'base.html' %}

<head>
    <!-- Setting Specific Css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_podcaster_style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/general_dashboard_style.css' %}"> 
</head>

<body>
    {% include "create-episode.html" %}
    {% include "create-podcast.html" %}

    <!-- Start Fe Here-->
    <div class="dashboard-podcaster dashboard">
        {% include "detail-podcaster.html" %}

        <div class="frame-list">
            <div class="div-4">
                <div class="frame-title">
                    <div class="text-wrapper-16">List Podcast</div>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="add-podcast">
                            <div class="text-wrapper-17">Tambah Podcast</div>
                        </div>
                    </a>
                </div>
                <div class="div-4">
                    
                    <table class="datatable">
                        <thead>
                            <tr class="table-header">
                                <th class="header-cell">
                                    <div class="text-wrapper-18">Judul</div>
                                </th>
                                <th class="header-cell">
                                    <div class="text-wrapper-18 header-2">Jumlah Episode</div>
                                </th>
                                <th class="header-cell">
                                    <div class="text-wrapper-18 header-3">Total Durasi</div>
                                </th>
                                <th class="header-cell">
                                    <div class="text-wrapper-18 header-4">Action</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row">
                                <td class="table-row-cell">
                                    <div class="text-wrapper-19">Podcast Seru Sekali</div>
                                </td>
                                <td class="table-row-cell">
                                    <div class="text-wrapper-20">4</div>
                                </td>
                                <td class="table-row-cell">
                                    <div class="text-wrapper-21">28 Menit</div>
                                </td>
                                <td>
                                    <div class="frame-2">
                                        <div class="fill-wrapper"><img class="fill"  src="../../static/img/icon/Delete Icon.png" /></div>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#create-episode">
                                            <div class="frame-3">
                                                <div class="text-wrapper-22">Tambah Episode</div>
                                            </div>
                                        </a>
                                        <a href="{% url 'dashboard:lihat_episode' %}">
                                            <div class="frame-4">
                                                <div class="text-wrapper-22">Lihat Daftar Episode</div>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-row-cell">
                                    <div class="text-wrapper-19">Podcast Seru Sekali</div>
                                </td>
                                <td class="table-row-cell">
                                    <div class="text-wrapper-20">4</div>
                                </td>
                                <td class="table-row-cell">
                                    <div class="text-wrapper-21">28 Menit</div>
                                </td>
                                <td>
                                    <div class="frame-2">
                                        <div class="fill-wrapper"><img class="fill" src="../../static/img/icon/Delete Icon.png"/></div>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <div class="frame-3">
                                                <div class="text-wrapper-22">Tambah Episode</div>
                                            </div>
                                        </a>
                                        <a href="{% url 'dashboard:lihat_episode' %}">
                                            <div class="frame-4">
                                                <div class="text-wrapper-22">Lihat Daftar Episode</div>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>