<div class="icon-marmut">
    <div class="image-container">
        <img class="marmut-image" src="../../static/img/Logo Marmut Dashboard.png"  alt="Marmut" />
    </div>
    <div class="text-container">
        <div class="text-wrapper-4">Role : {{role}}</div>
        <div class="text-wrapper-13">Welcome to Marmut</div>
    </div>
</div>

<!-- ganti disini -->
<div class="frame-detail">
    <div class="isi-detail">
        <div class="div-2">
            <div class="div-3">
                <div class="text-wrapper-14">Nama</div>
                <div class="text-wrapper-15">{{nama}}</div>
            </div>
            <div class="div-3">
                <div class="text-wrapper-14">Email</div>
                <div class="text-wrapper-15">{{email}}</div>
            </div>
        </div>
        <div class="div-2">
            <div class="div-3">
                <div class="text-wrapper-14">Kontak</div>
                <div class="text-wrapper-15">{{kontak}}</div>
            </div>
        </div>
        </div>
    </div>
</div>
