<div class="icon-marmut">
    <div class="image-container">
        <img class="marmut-image"  src="../../static/img/Logo Marmut Dashboard.png" alt="Marmut" />
    </div>
    <div class="text-container">
        <div class="text-wrapper">Nama</div>
        <div class="div">Kota Asal</div>
        <div class="text-wrapper-2">Tempat Lahir</div>
        <div class="text-wrapper-3">Email</div>
        <div class="text-wrapper-4">Role : Singer</div>
        <div class="text-wrapper-5">Gender</div>
        <div class="text-wrapper-6">Tanggal Lahir</div>
        <div class="text-wrapper-7">Arya Wijaya Kusuma</div>
        <div class="text-wrapper-8">Jakarta Selatan</div>
        <div class="text-wrapper-9">Jakarta</div>
        <div class="text-wrapper-10">aryawijayak2004@gmail.com</div>
        <div class="text-wrapper-11">Laki-laki</div>
        <div class="text-wrapper-12">15/06/2004</div>
        <div class="text-wrapper-13">Welcome to Marmut</div>
    </div>
</div>
<div class="frame-detail">
    <div class="isi-detail">
        <div class="div-2">
            <div class="div-3">
                <div class="text-wrapper-14">Nama</div>
                <div class="text-wrapper-15">Arya Wijaya Kusuma</div>
            </div>
            <div class="div-3">
                <div class="text-wrapper-14">Email</div>
                <div class="text-wrapper-15">aryawijayak2004@gmail.com</div>
            </div>
        </div>
        <div class="div-2">
            <div class="div-3">
                <div class="text-wrapper-14">Kota Asal</div>
                <div class="text-wrapper-15">Jakarta Selatan</div>
            </div>
            <div class="div-3">
                <div class="text-wrapper-14">Gender</div>
                <div class="text-wrapper-15">Laki-laki</div>
            </div>
        </div>
        <div class="div-2">
            <div class="div-3">
                <div class="text-wrapper-14">Tempat Lahir</div>
                <div class="text-wrapper-15">Jakarta</div>
            </div>
            <div class="div-3">
                <div class="text-wrapper-14">Tanggal Lahir</div>
                <div class="text-wrapper-15">15/06/2004</div>
            </div>
        </div>
    </div>
</div>
